{% extends "base.html" %}

{% block title %}home.html{% endblock%}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}
    <div id="content_home">
        <div id="homeimg">
            <a href="/"><img src="{% static 'img/django-actor-big.jpg' %}" style="height:256px;" /></a>
            <h4 style="margin: 0;">This is Django powered web site.</h4>
        </div>

        <hr style="margin: 5px 0;">

        <h2>Select App</h2>

        <table id="applist">
            <tr>
                <td>#</td>
            </tr>
        </table>
    </div>
{% endblock content %}

{% block footer %}
    <div id="footer">
        Copyright Minov 2017
    </div>
{% endblock footer %}