{% extends "base.html" %}

{% block title %}home.html{% endblock%}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}
    <div id="content_home">
        <hr style="margin: 5px 0;">

        <h2>Select App</h2>

        <table id="applist">
            <tr>
                <td><a class="abi" href="{% url 'bookmark:index' %}">Bookmark</a></td>
                <td>Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~</td>
                <td class="Edit"><a class="ai" href="{% url 'bookmark:add' %}">Add</a></td>
                <td class="Edit"><a class="ai" href="{% url 'bookmark:change' %}">Change</a></td>
            </tr>

            <tr>
                <td><a class="abi" href="{% url 'blog:index' %}">Blog</a></td>
                <td>Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~</td>
                <td class="Edit"><a class="ai" href="{% url 'blog:add' %}">Add</a></td>
                <td class="Edit"><a class="ai" href="[% url 'blog:change' %]">Change</a></td>
            </tr>

            <tr>
                <td><a class="abi" href="{% url 'photo:index'%}">Photo</a></td>
                <td>Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~ Blah~</td>
                <td class="Edit"><a class="ai" href="{% url 'photo:album_add' %}">Add</a></td>
                <td class="Edit"><a class="ai" href="{% url 'photo:album_change' %}">Change</a></td>
            </tr>
        </table>
    </div>
{% endblock content %}

{% block footer %}
    <div id="footer">
        &copy; Minov 2017
    </div>
{% endblock footer %}