{% extends "base.html" %}

{% block title %}User Password Change{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
    <div id="content">
        <h1>사용자 비밀번호 변경</h1>

        <form action="." method="post">{% csrf_token %}
            {% if form.errors %}
                <p class="errornote">앗 이런! 입력한 내용에 문제가 있네요.</p>
            {% endif %}

            <p>로그인 아이디와 비밀번호를 입력해주세요.</p>

            <fieldset class="aligned">
                <div class="form-row">
                    {{ form.old_password.label_tag }} {{ form.old_password }}
                </div>
                <div class="form-row">
                    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                </div>
                <div class="form-row">
                    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                </div>
            </fieldset>

            <div class="submit-row">
                <input type="submit" value="비밀번호 변경" />
            </div>

            <script type="text/javascript">$('#old_password').focus();</script>
        </form>
    </div>
{% endblock %}